Pillow==8.1.2
pymongo==4.0.2
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
tweepy @ git+https://github.com/tweepy/tweepy.git@e2cdc5eeabd87a2eb2394558eda1f1280418c4e2
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.3
